.stars {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 90%;
  transform: rotate(-45deg);
  z-index: 99;
}
@media (max-width: 768px) {
  .stars {
    display: none;
  }
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.26em;
  --top-offset: 35.89vh;
  --fall-duration: 7.928s;
  --fall-delay: 7.365s;
}
.star:nth-child(2) {
  --star-tail-length: 6.39em;
  --top-offset: 40.13vh;
  --fall-duration: 11.662s;
  --fall-delay: 5.937s;
}
.star:nth-child(3) {
  --star-tail-length: 6.36em;
  --top-offset: 40.41vh;
  --fall-duration: 11.251s;
  --fall-delay: 3.475s;
}
.star:nth-child(4) {
  --star-tail-length: 5.07em;
  --top-offset: 32.47vh;
  --fall-duration: 8.115s;
  --fall-delay: 7.559s;
}
.star:nth-child(5) {
  --star-tail-length: 5.2em;
  --top-offset: 18.14vh;
  --fall-duration: 6.87s;
  --fall-delay: 3.686s;
}
.star:nth-child(6) {
  --star-tail-length: 6.64em;
  --top-offset: 4.75vh;
  --fall-duration: 6.828s;
  --fall-delay: 5.964s;
}
.star:nth-child(7) {
  --star-tail-length: 6.83em;
  --top-offset: 71.88vh;
  --fall-duration: 7.96s;
  --fall-delay: 2.767s;
}
.star:nth-child(8) {
  --star-tail-length: 5.23em;
  --top-offset: 57.04vh;
  --fall-duration: 7.068s;
  --fall-delay: 4.765s;
}
.star:nth-child(9) {
  --star-tail-length: 5.98em;
  --top-offset: 5.44vh;
  --fall-duration: 7.988s;
  --fall-delay: 9.543s;
}
.star:nth-child(10) {
  --star-tail-length: 7.21em;
  --top-offset: 90.07vh;
  --fall-duration: 7.872s;
  --fall-delay: 9.088s;
}
.star:nth-child(11) {
  --star-tail-length: 5.69em;
  --top-offset: 52.53vh;
  --fall-duration: 9.117s;
  --fall-delay: 0.576s;
}
.star:nth-child(12) {
  --star-tail-length: 7.03em;
  --top-offset: 76.63vh;
  --fall-duration: 11.795s;
  --fall-delay: 1.751s;
}
.star:nth-child(13) {
  --star-tail-length: 6.96em;
  --top-offset: 3.37vh;
  --fall-duration: 9.306s;
  --fall-delay: 9.418s;
}
.star:nth-child(14) {
  --star-tail-length: 7.08em;
  --top-offset: 76.08vh;
  --fall-duration: 6.812s;
  --fall-delay: 5.466s;
}
.star:nth-child(15) {
  --star-tail-length: 5.85em;
  --top-offset: 12.48vh;
  --fall-duration: 6.623s;
  --fall-delay: 7.889s;
}
.star:nth-child(16) {
  --star-tail-length: 5.24em;
  --top-offset: 46.44vh;
  --fall-duration: 6.843s;
  --fall-delay: 9.309s;
}
.star:nth-child(17) {
  --star-tail-length: 7.42em;
  --top-offset: 38.5vh;
  --fall-duration: 9.887s;
  --fall-delay: 8.974s;
}
.star:nth-child(18) {
  --star-tail-length: 6.78em;
  --top-offset: 38.78vh;
  --fall-duration: 10.478s;
  --fall-delay: 4.796s;
}
.star:nth-child(19) {
  --star-tail-length: 6.15em;
  --top-offset: 69.57vh;
  --fall-duration: 6.832s;
  --fall-delay: 4.494s;
}
.star:nth-child(20) {
  --star-tail-length: 6.84em;
  --top-offset: 92.3vh;
  --fall-duration: 9.177s;
  --fall-delay: 7.501s;
}
.star:nth-child(21) {
  --star-tail-length: 6.12em;
  --top-offset: 59.3vh;
  --fall-duration: 10.27s;
  --fall-delay: 6.929s;
}
.star:nth-child(22) {
  --star-tail-length: 5.51em;
  --top-offset: 9.45vh;
  --fall-duration: 6.722s;
  --fall-delay: 5.013s;
}
.star:nth-child(23) {
  --star-tail-length: 7.06em;
  --top-offset: 69.2vh;
  --fall-duration: 8.38s;
  --fall-delay: 6.051s;
}
.star:nth-child(24) {
  --star-tail-length: 7.33em;
  --top-offset: 92.23vh;
  --fall-duration: 6.845s;
  --fall-delay: 7.982s;
}
.star:nth-child(25) {
  --star-tail-length: 5.85em;
  --top-offset: 59.52vh;
  --fall-duration: 8.681s;
  --fall-delay: 3.741s;
}
.star:nth-child(26) {
  --star-tail-length: 7.24em;
  --top-offset: 58.29vh;
  --fall-duration: 9.85s;
  --fall-delay: 3.474s;
}
.star:nth-child(27) {
  --star-tail-length: 6.01em;
  --top-offset: 56.96vh;
  --fall-duration: 6.697s;
  --fall-delay: 2.11s;
}
.star:nth-child(28) {
  --star-tail-length: 6.23em;
  --top-offset: 5.32vh;
  --fall-duration: 7.203s;
  --fall-delay: 4.079s;
}
.star:nth-child(29) {
  --star-tail-length: 5.42em;
  --top-offset: 80.1vh;
  --fall-duration: 11.625s;
  --fall-delay: 7.467s;
}
.star:nth-child(30) {
  --star-tail-length: 6.4em;
  --top-offset: 10.94vh;
  --fall-duration: 8.836s;
  --fall-delay: 6.502s;
}
.star:nth-child(31) {
  --star-tail-length: 6.57em;
  --top-offset: 66.63vh;
  --fall-duration: 11.251s;
  --fall-delay: 7.052s;
}
.star:nth-child(32) {
  --star-tail-length: 5.94em;
  --top-offset: 10.8vh;
  --fall-duration: 7.333s;
  --fall-delay: 1.176s;
}
.star:nth-child(33) {
  --star-tail-length: 5.07em;
  --top-offset: 28vh;
  --fall-duration: 10.646s;
  --fall-delay: 3.193s;
}
.star:nth-child(34) {
  --star-tail-length: 5.83em;
  --top-offset: 48.5vh;
  --fall-duration: 6.595s;
  --fall-delay: 0.362s;
}
.star:nth-child(35) {
  --star-tail-length: 6.61em;
  --top-offset: 20.95vh;
  --fall-duration: 9.011s;
  --fall-delay: 9.759s;
}
.star:nth-child(36) {
  --star-tail-length: 7.45em;
  --top-offset: 93.66vh;
  --fall-duration: 9.972s;
  --fall-delay: 1.716s;
}
.star:nth-child(37) {
  --star-tail-length: 5.06em;
  --top-offset: 18.28vh;
  --fall-duration: 7.893s;
  --fall-delay: 0.903s;
}
.star:nth-child(38) {
  --star-tail-length: 7.16em;
  --top-offset: 80.27vh;
  --fall-duration: 9.583s;
  --fall-delay: 0.361s;
}
.star:nth-child(39) {
  --star-tail-length: 5.34em;
  --top-offset: 73.82vh;
  --fall-duration: 11.26s;
  --fall-delay: 0.744s;
}
.star:nth-child(40) {
  --star-tail-length: 5.91em;
  --top-offset: 33.8vh;
  --fall-duration: 11.077s;
  --fall-delay: 7.013s;
}
.star:nth-child(41) {
  --star-tail-length: 6.5em;
  --top-offset: 63.55vh;
  --fall-duration: 10.1s;
  --fall-delay: 5.494s;
}
.star:nth-child(42) {
  --star-tail-length: 7.5em;
  --top-offset: 23.6vh;
  --fall-duration: 9.581s;
  --fall-delay: 9.902s;
}
.star:nth-child(43) {
  --star-tail-length: 6.11em;
  --top-offset: 83.27vh;
  --fall-duration: 9.58s;
  --fall-delay: 6.551s;
}
.star:nth-child(44) {
  --star-tail-length: 6.62em;
  --top-offset: 42.7vh;
  --fall-duration: 11.725s;
  --fall-delay: 5.989s;
}
.star:nth-child(45) {
  --star-tail-length: 5.41em;
  --top-offset: 63.19vh;
  --fall-duration: 6.499s;
  --fall-delay: 0.951s;
}
.star:nth-child(46) {
  --star-tail-length: 5.5em;
  --top-offset: 4.68vh;
  --fall-duration: 10.575s;
  --fall-delay: 9.397s;
}
.star:nth-child(47) {
  --star-tail-length: 6.94em;
  --top-offset: 32.69vh;
  --fall-duration: 6.277s;
  --fall-delay: 2.636s;
}
.star:nth-child(48) {
  --star-tail-length: 7.27em;
  --top-offset: 49.62vh;
  --fall-duration: 7.137s;
  --fall-delay: 3.358s;
}
.star:nth-child(49) {
  --star-tail-length: 6.32em;
  --top-offset: 23.32vh;
  --fall-duration: 8.42s;
  --fall-delay: 2.786s;
}
.star:nth-child(50) {
  --star-tail-length: 6.32em;
  --top-offset: 82.1vh;
  --fall-duration: 8.011s;
  --fall-delay: 4.083s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=Parcours-animations.css.map */