.stars {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 90%;
  transform: rotate(-45deg);
  z-index: 99;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.21em;
  --top-offset: 17.27vh;
  --fall-duration: 6.007s;
  --fall-delay: 2.049s;
}
.star:nth-child(2) {
  --star-tail-length: 5.41em;
  --top-offset: 63.58vh;
  --fall-duration: 10.394s;
  --fall-delay: 0.452s;
}
.star:nth-child(3) {
  --star-tail-length: 6.58em;
  --top-offset: 98.4vh;
  --fall-duration: 8.499s;
  --fall-delay: 6.694s;
}
.star:nth-child(4) {
  --star-tail-length: 5.14em;
  --top-offset: 51.66vh;
  --fall-duration: 9.506s;
  --fall-delay: 5.731s;
}
.star:nth-child(5) {
  --star-tail-length: 6.06em;
  --top-offset: 20.14vh;
  --fall-duration: 11.312s;
  --fall-delay: 0.57s;
}
.star:nth-child(6) {
  --star-tail-length: 7.38em;
  --top-offset: 34.87vh;
  --fall-duration: 11.923s;
  --fall-delay: 5.886s;
}
.star:nth-child(7) {
  --star-tail-length: 6.45em;
  --top-offset: 22.33vh;
  --fall-duration: 11.226s;
  --fall-delay: 9.138s;
}
.star:nth-child(8) {
  --star-tail-length: 5.9em;
  --top-offset: 91.82vh;
  --fall-duration: 7.869s;
  --fall-delay: 3.567s;
}
.star:nth-child(9) {
  --star-tail-length: 7.11em;
  --top-offset: 61.96vh;
  --fall-duration: 6.212s;
  --fall-delay: 2.45s;
}
.star:nth-child(10) {
  --star-tail-length: 6.25em;
  --top-offset: 18.8vh;
  --fall-duration: 8.062s;
  --fall-delay: 0.796s;
}
.star:nth-child(11) {
  --star-tail-length: 5.78em;
  --top-offset: 97.83vh;
  --fall-duration: 10.997s;
  --fall-delay: 4.153s;
}
.star:nth-child(12) {
  --star-tail-length: 5.48em;
  --top-offset: 59.34vh;
  --fall-duration: 7.938s;
  --fall-delay: 1.562s;
}
.star:nth-child(13) {
  --star-tail-length: 5.5em;
  --top-offset: 71.89vh;
  --fall-duration: 9.702s;
  --fall-delay: 3.228s;
}
.star:nth-child(14) {
  --star-tail-length: 7.16em;
  --top-offset: 82.73vh;
  --fall-duration: 6.095s;
  --fall-delay: 5.094s;
}
.star:nth-child(15) {
  --star-tail-length: 7.38em;
  --top-offset: 73.84vh;
  --fall-duration: 6.689s;
  --fall-delay: 5.889s;
}
.star:nth-child(16) {
  --star-tail-length: 7.2em;
  --top-offset: 67.19vh;
  --fall-duration: 10.991s;
  --fall-delay: 2.098s;
}
.star:nth-child(17) {
  --star-tail-length: 5.56em;
  --top-offset: 30.62vh;
  --fall-duration: 6.898s;
  --fall-delay: 9.776s;
}
.star:nth-child(18) {
  --star-tail-length: 5.27em;
  --top-offset: 16.35vh;
  --fall-duration: 9.766s;
  --fall-delay: 5.468s;
}
.star:nth-child(19) {
  --star-tail-length: 5.45em;
  --top-offset: 31.17vh;
  --fall-duration: 10.081s;
  --fall-delay: 5.367s;
}
.star:nth-child(20) {
  --star-tail-length: 5.46em;
  --top-offset: 83.84vh;
  --fall-duration: 6.64s;
  --fall-delay: 4.078s;
}
.star:nth-child(21) {
  --star-tail-length: 7.1em;
  --top-offset: 11.77vh;
  --fall-duration: 9.152s;
  --fall-delay: 5.023s;
}
.star:nth-child(22) {
  --star-tail-length: 6.43em;
  --top-offset: 20.41vh;
  --fall-duration: 7.066s;
  --fall-delay: 2.201s;
}
.star:nth-child(23) {
  --star-tail-length: 5.57em;
  --top-offset: 56.39vh;
  --fall-duration: 7.258s;
  --fall-delay: 7.664s;
}
.star:nth-child(24) {
  --star-tail-length: 5.23em;
  --top-offset: 54.34vh;
  --fall-duration: 11.748s;
  --fall-delay: 9.516s;
}
.star:nth-child(25) {
  --star-tail-length: 6.34em;
  --top-offset: 6.49vh;
  --fall-duration: 10.459s;
  --fall-delay: 2.407s;
}
.star:nth-child(26) {
  --star-tail-length: 6.15em;
  --top-offset: 97.55vh;
  --fall-duration: 7.532s;
  --fall-delay: 3.044s;
}
.star:nth-child(27) {
  --star-tail-length: 5.95em;
  --top-offset: 35.69vh;
  --fall-duration: 7.749s;
  --fall-delay: 9.244s;
}
.star:nth-child(28) {
  --star-tail-length: 6.44em;
  --top-offset: 91.33vh;
  --fall-duration: 10.419s;
  --fall-delay: 4.523s;
}
.star:nth-child(29) {
  --star-tail-length: 5.58em;
  --top-offset: 17.86vh;
  --fall-duration: 6.796s;
  --fall-delay: 0.876s;
}
.star:nth-child(30) {
  --star-tail-length: 6.59em;
  --top-offset: 78.49vh;
  --fall-duration: 8.008s;
  --fall-delay: 8.439s;
}
.star:nth-child(31) {
  --star-tail-length: 6.14em;
  --top-offset: 3.08vh;
  --fall-duration: 6.636s;
  --fall-delay: 6.243s;
}
.star:nth-child(32) {
  --star-tail-length: 5.43em;
  --top-offset: 68.51vh;
  --fall-duration: 9.027s;
  --fall-delay: 9.279s;
}
.star:nth-child(33) {
  --star-tail-length: 6.72em;
  --top-offset: 59.94vh;
  --fall-duration: 11.214s;
  --fall-delay: 7.754s;
}
.star:nth-child(34) {
  --star-tail-length: 5.47em;
  --top-offset: 15.59vh;
  --fall-duration: 10.472s;
  --fall-delay: 3.699s;
}
.star:nth-child(35) {
  --star-tail-length: 6.67em;
  --top-offset: 95.31vh;
  --fall-duration: 7.967s;
  --fall-delay: 8.158s;
}
.star:nth-child(36) {
  --star-tail-length: 6.32em;
  --top-offset: 74.8vh;
  --fall-duration: 11.397s;
  --fall-delay: 3.835s;
}
.star:nth-child(37) {
  --star-tail-length: 6.07em;
  --top-offset: 50.48vh;
  --fall-duration: 8.718s;
  --fall-delay: 4.206s;
}
.star:nth-child(38) {
  --star-tail-length: 5.01em;
  --top-offset: 32.78vh;
  --fall-duration: 9.599s;
  --fall-delay: 4.825s;
}
.star:nth-child(39) {
  --star-tail-length: 5.3em;
  --top-offset: 14.81vh;
  --fall-duration: 10.142s;
  --fall-delay: 3.079s;
}
.star:nth-child(40) {
  --star-tail-length: 6.87em;
  --top-offset: 77.97vh;
  --fall-duration: 8.998s;
  --fall-delay: 0.572s;
}
.star:nth-child(41) {
  --star-tail-length: 6.11em;
  --top-offset: 76vh;
  --fall-duration: 10.866s;
  --fall-delay: 3.22s;
}
.star:nth-child(42) {
  --star-tail-length: 6.18em;
  --top-offset: 57.98vh;
  --fall-duration: 8.276s;
  --fall-delay: 1.628s;
}
.star:nth-child(43) {
  --star-tail-length: 6.14em;
  --top-offset: 98.31vh;
  --fall-duration: 10.547s;
  --fall-delay: 3.978s;
}
.star:nth-child(44) {
  --star-tail-length: 5.01em;
  --top-offset: 60.24vh;
  --fall-duration: 7.172s;
  --fall-delay: 1.931s;
}
.star:nth-child(45) {
  --star-tail-length: 5.79em;
  --top-offset: 5.08vh;
  --fall-duration: 8.253s;
  --fall-delay: 8.561s;
}
.star:nth-child(46) {
  --star-tail-length: 6.65em;
  --top-offset: 4.95vh;
  --fall-duration: 10.284s;
  --fall-delay: 0.057s;
}
.star:nth-child(47) {
  --star-tail-length: 6.95em;
  --top-offset: 22.32vh;
  --fall-duration: 10.733s;
  --fall-delay: 7.712s;
}
.star:nth-child(48) {
  --star-tail-length: 5.02em;
  --top-offset: 41.19vh;
  --fall-duration: 10.156s;
  --fall-delay: 7.767s;
}
.star:nth-child(49) {
  --star-tail-length: 5.32em;
  --top-offset: 99.73vh;
  --fall-duration: 8.998s;
  --fall-delay: 1.847s;
}
.star:nth-child(50) {
  --star-tail-length: 6.31em;
  --top-offset: 46.58vh;
  --fall-duration: 7.27s;
  --fall-delay: 8.675s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=Parcours-animations.css.map */