.stars {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 90%;
  transform: rotate(-45deg);
  z-index: 99;
}
@media (max-width: 768px) {
  .stars {
    display: none;
  }
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.05em;
  --top-offset: 53.13vh;
  --fall-duration: 6.784s;
  --fall-delay: 2.311s;
}
.star:nth-child(2) {
  --star-tail-length: 6.38em;
  --top-offset: 90.09vh;
  --fall-duration: 11.478s;
  --fall-delay: 2.856s;
}
.star:nth-child(3) {
  --star-tail-length: 6.33em;
  --top-offset: 50.22vh;
  --fall-duration: 10.995s;
  --fall-delay: 5.196s;
}
.star:nth-child(4) {
  --star-tail-length: 6.32em;
  --top-offset: 62.85vh;
  --fall-duration: 7.028s;
  --fall-delay: 5.239s;
}
.star:nth-child(5) {
  --star-tail-length: 6.24em;
  --top-offset: 89.71vh;
  --fall-duration: 7.697s;
  --fall-delay: 0.43s;
}
.star:nth-child(6) {
  --star-tail-length: 5.19em;
  --top-offset: 67.43vh;
  --fall-duration: 6.027s;
  --fall-delay: 0.892s;
}
.star:nth-child(7) {
  --star-tail-length: 6.82em;
  --top-offset: 8.04vh;
  --fall-duration: 7.58s;
  --fall-delay: 4.595s;
}
.star:nth-child(8) {
  --star-tail-length: 7.38em;
  --top-offset: 77.61vh;
  --fall-duration: 10.04s;
  --fall-delay: 3.432s;
}
.star:nth-child(9) {
  --star-tail-length: 6.05em;
  --top-offset: 69.39vh;
  --fall-duration: 6.179s;
  --fall-delay: 3.847s;
}
.star:nth-child(10) {
  --star-tail-length: 5.45em;
  --top-offset: 82.3vh;
  --fall-duration: 7.212s;
  --fall-delay: 5.05s;
}
.star:nth-child(11) {
  --star-tail-length: 5.27em;
  --top-offset: 74.23vh;
  --fall-duration: 10.101s;
  --fall-delay: 8.358s;
}
.star:nth-child(12) {
  --star-tail-length: 5.72em;
  --top-offset: 26.81vh;
  --fall-duration: 7.987s;
  --fall-delay: 8.027s;
}
.star:nth-child(13) {
  --star-tail-length: 6.28em;
  --top-offset: 1.39vh;
  --fall-duration: 6.458s;
  --fall-delay: 4.347s;
}
.star:nth-child(14) {
  --star-tail-length: 6.5em;
  --top-offset: 85.94vh;
  --fall-duration: 8.495s;
  --fall-delay: 1.251s;
}
.star:nth-child(15) {
  --star-tail-length: 6em;
  --top-offset: 68.98vh;
  --fall-duration: 10.762s;
  --fall-delay: 8.814s;
}
.star:nth-child(16) {
  --star-tail-length: 6.84em;
  --top-offset: 61.07vh;
  --fall-duration: 9.317s;
  --fall-delay: 7.598s;
}
.star:nth-child(17) {
  --star-tail-length: 5.21em;
  --top-offset: 40.5vh;
  --fall-duration: 11.143s;
  --fall-delay: 2.084s;
}
.star:nth-child(18) {
  --star-tail-length: 5.25em;
  --top-offset: 7.81vh;
  --fall-duration: 7.301s;
  --fall-delay: 5.703s;
}
.star:nth-child(19) {
  --star-tail-length: 5.09em;
  --top-offset: 77.16vh;
  --fall-duration: 8.326s;
  --fall-delay: 4.345s;
}
.star:nth-child(20) {
  --star-tail-length: 6.1em;
  --top-offset: 60.6vh;
  --fall-duration: 7.103s;
  --fall-delay: 5.095s;
}
.star:nth-child(21) {
  --star-tail-length: 6.63em;
  --top-offset: 38.28vh;
  --fall-duration: 8.7s;
  --fall-delay: 0.539s;
}
.star:nth-child(22) {
  --star-tail-length: 7.46em;
  --top-offset: 21.08vh;
  --fall-duration: 7.895s;
  --fall-delay: 8.748s;
}
.star:nth-child(23) {
  --star-tail-length: 5.47em;
  --top-offset: 22.95vh;
  --fall-duration: 11.453s;
  --fall-delay: 4.297s;
}
.star:nth-child(24) {
  --star-tail-length: 6.51em;
  --top-offset: 19.37vh;
  --fall-duration: 10.009s;
  --fall-delay: 1.435s;
}
.star:nth-child(25) {
  --star-tail-length: 6.71em;
  --top-offset: 24.39vh;
  --fall-duration: 7.461s;
  --fall-delay: 4.551s;
}
.star:nth-child(26) {
  --star-tail-length: 5.19em;
  --top-offset: 71.19vh;
  --fall-duration: 11.668s;
  --fall-delay: 5.597s;
}
.star:nth-child(27) {
  --star-tail-length: 6.41em;
  --top-offset: 90.81vh;
  --fall-duration: 8.295s;
  --fall-delay: 2.198s;
}
.star:nth-child(28) {
  --star-tail-length: 7.03em;
  --top-offset: 41.2vh;
  --fall-duration: 9.112s;
  --fall-delay: 2.285s;
}
.star:nth-child(29) {
  --star-tail-length: 5.18em;
  --top-offset: 82.66vh;
  --fall-duration: 11.298s;
  --fall-delay: 9.605s;
}
.star:nth-child(30) {
  --star-tail-length: 7.28em;
  --top-offset: 13.8vh;
  --fall-duration: 8.164s;
  --fall-delay: 1.063s;
}
.star:nth-child(31) {
  --star-tail-length: 7.12em;
  --top-offset: 36.59vh;
  --fall-duration: 8.435s;
  --fall-delay: 3.794s;
}
.star:nth-child(32) {
  --star-tail-length: 6.15em;
  --top-offset: 74.16vh;
  --fall-duration: 10.815s;
  --fall-delay: 1.452s;
}
.star:nth-child(33) {
  --star-tail-length: 7.47em;
  --top-offset: 49.01vh;
  --fall-duration: 6.774s;
  --fall-delay: 8.502s;
}
.star:nth-child(34) {
  --star-tail-length: 7.07em;
  --top-offset: 25.78vh;
  --fall-duration: 6.512s;
  --fall-delay: 2.382s;
}
.star:nth-child(35) {
  --star-tail-length: 5.01em;
  --top-offset: 63.25vh;
  --fall-duration: 8.421s;
  --fall-delay: 9.226s;
}
.star:nth-child(36) {
  --star-tail-length: 7.09em;
  --top-offset: 61.7vh;
  --fall-duration: 8.181s;
  --fall-delay: 1.248s;
}
.star:nth-child(37) {
  --star-tail-length: 6.04em;
  --top-offset: 37.06vh;
  --fall-duration: 8.016s;
  --fall-delay: 5.57s;
}
.star:nth-child(38) {
  --star-tail-length: 7.03em;
  --top-offset: 93.33vh;
  --fall-duration: 11.167s;
  --fall-delay: 7.888s;
}
.star:nth-child(39) {
  --star-tail-length: 5.9em;
  --top-offset: 8.44vh;
  --fall-duration: 8.951s;
  --fall-delay: 8.036s;
}
.star:nth-child(40) {
  --star-tail-length: 6.16em;
  --top-offset: 73.41vh;
  --fall-duration: 7.436s;
  --fall-delay: 0.336s;
}
.star:nth-child(41) {
  --star-tail-length: 5.32em;
  --top-offset: 60.63vh;
  --fall-duration: 6.056s;
  --fall-delay: 8.897s;
}
.star:nth-child(42) {
  --star-tail-length: 7.47em;
  --top-offset: 74.54vh;
  --fall-duration: 11.704s;
  --fall-delay: 4.488s;
}
.star:nth-child(43) {
  --star-tail-length: 7.17em;
  --top-offset: 8.12vh;
  --fall-duration: 9.282s;
  --fall-delay: 3.909s;
}
.star:nth-child(44) {
  --star-tail-length: 5.77em;
  --top-offset: 67.98vh;
  --fall-duration: 6.804s;
  --fall-delay: 9.939s;
}
.star:nth-child(45) {
  --star-tail-length: 7.17em;
  --top-offset: 27.21vh;
  --fall-duration: 11.248s;
  --fall-delay: 4.886s;
}
.star:nth-child(46) {
  --star-tail-length: 5.21em;
  --top-offset: 33.78vh;
  --fall-duration: 7.865s;
  --fall-delay: 8.386s;
}
.star:nth-child(47) {
  --star-tail-length: 6.4em;
  --top-offset: 35.27vh;
  --fall-duration: 8.537s;
  --fall-delay: 5.996s;
}
.star:nth-child(48) {
  --star-tail-length: 6.85em;
  --top-offset: 2.71vh;
  --fall-duration: 9.617s;
  --fall-delay: 9.481s;
}
.star:nth-child(49) {
  --star-tail-length: 5.17em;
  --top-offset: 65.85vh;
  --fall-duration: 9.986s;
  --fall-delay: 4.544s;
}
.star:nth-child(50) {
  --star-tail-length: 6.41em;
  --top-offset: 49.89vh;
  --fall-duration: 7.866s;
  --fall-delay: 6.96s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=Parcours-animations.css.map */