$murrey: rgba(149, 9, 82, 1);
$tyrian-purple: rgba(94, 0, 53, 1);
$black: rgba(2, 2, 2, 1);
$midnight-green: rgb(3, 39, 66);

.section--apropos {
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $black;

    color: white;
    
    
    position: relative;
    z-index: 100;

        /* padding: 50px; */

    &__container {
        padding-top: 100px ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        background: linear-gradient(180deg, $midnight-green, $tyrian-purple 100%);

        @media (max-width: 768px) {
            
        }

        h2 {

            font-size: 42px;

        }
    }
    
}

.apropos__profil {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 100;

    @media (max-width: 768px) {
        flex-direction: column; 
        gap: 30px;
    }

    & img {
        width: 250px;
        height: 250px;
        border-radius: 50px;
    }

    &--text {
        width: 50%;
        border: 2px white solid;
        background-color: rgba(2, 2, 2, 0.2);
        border-radius: 10px;
        padding: 0 30px;

        @media (max-width: 768px) {
            width: 300px;
            padding: 0 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            border: 2px white solid;
        }

        p {
            width: 90%;
        }
    }
}

.apropos__graph {

    width: 100%;
    background-color: $tyrian-purple;
    padding-bottom: 150px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 100;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    & .chart {
        text-align: center;
        width: 100%;
        height: 300px;
        z-index: 101;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            align-items: center;
        }

    }

    & .radar {

        canvas {

            @media (max-width: 768px) {
                
                width: 250px;

            }

        }

    & h3 {

        @media (max-width: 768px) {
            margin: 0;    

        }

    }

    }

    .polar {

    @media (max-width: 768px) {
        padding-top: 20px;
    
    }

    }
}

.apropos__bandeau {
  background-color: $tyrian-purple;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0px;



  h3 {
    @media (max-width: 768px) {

        font-size: 1.2em ;
        text-align: center;

    }
  }
}

.bandeau__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    gap: 30px;
    color: white;
    z-index: 1000;

    .logos__container {
        position: relative;
        text-align: center; /* Pour centrer le contenu */
        height: 100px;
        display: flex;

        @media (max-width: 768px) {

            height: 65px;
    
        }

        .logo {
            width: 50px;
            height: auto;
            max-height: 65px;
            color: white;

            @media (max-width: 768px) {

                max-height: 45px;
        
            }
        }
        .logo:hover {
            scale: 1.1;

        }
                    
        p {
            position: absolute;
            top: 65%; /* Position en dessous de l'icône */
            left: 50%;
            transform: translateX(-50%);
            padding: 4px 8px;
            background-color: black;
            color: white;
            border-radius: 4px;
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s;

            margin: 0;
            font-size: 14px;
        }
    }

    .logos__container:hover p {

        opacity: 1;
    }
      
      
  }
  
 


}








// Chart.js et react chart 