@charset "UTF-8";
.section--apropos {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(2, 2, 2);
  color: white;
  position: relative;
  z-index: 100;
  /* padding: 50px; */
}
.section--apropos__container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  background: linear-gradient(180deg, rgb(3, 39, 66), rgb(94, 0, 53) 100%);
}
.section--apropos__container h2 {
  font-size: 42px;
}

.apropos__profil {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
@media (max-width: 768px) {
  .apropos__profil {
    flex-direction: column;
    gap: 30px;
  }
}
.apropos__profil img {
  width: 250px;
  height: 250px;
  border-radius: 50px;
}
.apropos__profil--text {
  width: 50%;
  border: 2px white solid;
  background-color: rgba(2, 2, 2, 0.2);
  border-radius: 10px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .apropos__profil--text {
    width: 300px;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px white solid;
  }
}
.apropos__profil--text p {
  width: 90%;
}

.apropos__graph {
  width: 100%;
  background-color: rgb(94, 0, 53);
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
}
@media (max-width: 768px) {
  .apropos__graph {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
.apropos__graph .chart {
  text-align: center;
  width: 100%;
  height: 300px;
  z-index: 101;
}
@media (max-width: 768px) {
  .apropos__graph .chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .apropos__graph .radar canvas {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .apropos__graph .radar h3 {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .apropos__graph .polar {
    padding-top: 20px;
  }
}

.apropos__bandeau {
  background-color: rgb(94, 0, 53);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0px;
}
@media (max-width: 768px) {
  .apropos__bandeau h3 {
    font-size: 1.2em;
    text-align: center;
  }
}

.bandeau__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bandeau__container .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  gap: 30px;
  color: white;
  z-index: 1000;
}
.bandeau__container .logos .logos__container {
  position: relative;
  text-align: center; /* Pour centrer le contenu */
  height: 100px;
  display: flex;
}
@media (max-width: 768px) {
  .bandeau__container .logos .logos__container {
    height: 65px;
  }
}
.bandeau__container .logos .logos__container .logo {
  width: 50px;
  height: auto;
  max-height: 65px;
  color: white;
}
@media (max-width: 768px) {
  .bandeau__container .logos .logos__container .logo {
    max-height: 45px;
  }
}
.bandeau__container .logos .logos__container .logo:hover {
  scale: 1.1;
}
.bandeau__container .logos .logos__container p {
  position: absolute;
  top: 65%; /* Position en dessous de l'icône */
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: black;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  margin: 0;
  font-size: 14px;
}
.bandeau__container .logos .logos__container:hover p {
  opacity: 1;
}/*# sourceMappingURL=apropos.css.map */